
<h4>Address | <span class="font-monospace"><%= address %></span></h4>

<table class="table">
<thead>
<tr>
<th>Balance</th>
<th>Currency</th>
<th>Contract</th>
</tr>
</thead>
<tbody class="font-monospace">

<% balances.forEach(function(entry) { %>
<tr>
<td><b><%= entry.balance %></b></td>
<td><%= entry.currency %></td>
<td>
<% if(entry.contract) { %>
<a href="/address?addr=<%= entry.contract %>"><%= entry.contract %></a>
<% } %>
</td>
</tr>
<% }); %>

<% nfts.forEach(function(address) { %>
<tr>
<td>NFT</td>
<td>N/A</td>
<td><a href="/address?addr=<%= address %>"><%= address %></a></td>
</tr>
<% }); %>
</tbody>
</table>

<table class="table">
<thead>
<tr>
<th>Height</th>
<th>Type</th>
<th>Amount</th>
<th>Address</th>
<th>TX ID</th>
</tr>
</thead>

<tbody class="font-monospace">
<% history.forEach(function(entry) { %>
<tr>
<td><%= entry.height %></td>
<td><%= entry.type %></td>
<td><b><%= entry.amount %></b></td>
<td><a href="address?addr=<%= entry.address %>"><%= entry.address %></a></td>
<td><a href="transaction?id=<%= entry.txid %>"><%= entry.txid %></a></td>
</tr>
<% }); %>
</tbody>
</table>
