
<h3>Address | <%= address %></h3>

<table class="data">
<tr>
<td class="data"><b>Balance</b></td>
<td class="data"><%= balance %></td>
<td class="data">MMX</td>
</tr>
</table>

<p>
<table class="data">
<tr>
<th class="data">Height</th>
<th class="data">Type</th>
<th class="data">Amount</th>
<th class="data">Address</th>
<th class="data">TX ID</th>
</tr>

<% history.forEach(function(entry) { %>
<tr>
<td class="data"><%= entry.height %></td>
<td class="data"><%= entry.type %></td>
<td class="data"><%= entry.amount %></td>
<td class="data"><a href="address?addr=<%= entry.address %>"><%= entry.address %></a></td>
<td class="data"><a href="transaction?id=<%= entry.txid %>"><%= entry.txid %></a></td>
</tr>
<% }); %>
</table>
</p>
