
<table class="table table-hover">
<thead>
<tr>
<th>Height</th>
<th>TX</th>
<th>K</th>
<th>Score</th>
<th>Reward</th>
<th>T-Diff</th>
<th>S-Diff</th>
<th>Hash</th>
</tr>
</thead>

<tbody class="font-monospace">
<% blocks.forEach(function(block) { %>
<tr>
<td><a href="block?height=<%= block.height %>"><%= block.height %></a></td>
<td><%= block.tx_count %></td>
<td><%= block.ksize %></td>
<td class="text-end"><%= block.score %></td>
<td><%= block.reward %></td>
<td class="text-end"><%= block.time_diff %></td>
<td class="text-end"><%= block.space_diff %></td>
<td><a href="block?hash=<%= block.hash %>"><%= block.hash %></a></td>
</tr>
<% }); %>
</tbody>
</table>
