
<h3>TX | <span class="font-monospace"><%= tx.id %></span></h3>

<table class="table table-nonfluid mb-5">
<tr>
<td><b>Input</b></td>
<td class="font-monospace"><%= tx.input_amount %></td>
<td>MMX</td>
</tr>
<tr>
<td><b>Output</b></td>
<td class="font-monospace"><%= tx.output_amount %></td>
<td>MMX</td>
</tr>
<tr>
<td><b>Fee</b></td>
<td class="font-monospace"><%= tx.fee_amount %></td>
<td>MMX</td>
</tr>
</table>

<p>
<table class="table table-nonfluid">
<tr>
<th></th>
<th>Amount</th>
<th>Token</th>
<th>Address</th>
<th>Spent TX</th>
</tr>

<% tx.inputs.forEach(function(input, index) { %>
<tr>
<td><b>Input[<%= index %>]</b></td>
<td class="font-monospace"><%= input.amount %></td>
<td>MMX</td>
<td class="font-monospace"><a href="address?addr=<%= input.address %>"><%= input.address %></a></td>
</tr>
<% }); %>

<% tx.outputs.forEach(function(output, index) { %>
<tr>
<td><b>Output[<%= index %>]</b></td>
<td class="font-monospace"><%= output.amount %></td>
<td>MMX</td>
<td class="font-monospace"><a href="address?addr=<%= output.address %>"><%= output.address %></a></td>
<% if(output.spent_txid) { %>
<td class="font-monospace"><a href="transaction?id=<%= output.spent_txid %>"><%= output.spent_txid %></a></td>
<% } %>
</tr>
<% }); %>
</table>
</p>


