
<h3>TX | <%= tx.id %></h3>

<table class="data">
<tr>
<td class="data"><b>Input</b></td>
<td class="data"><%= tx.input_amount %></td>
<td class="data">MMX</td>
</tr>
<tr>
<td class="data"><b>Output</b></td>
<td class="data"><%= tx.output_amount %></td>
<td class="data">MMX</td>
</tr>
<tr>
<td class="data"><b>Fee</b></td>
<td class="data"><%= tx.fee_amount %></td>
<td class="data">MMX</td>
</tr>
</table>

<p>
<table class="data">
<tr>
<th class="data"></th>
<th class="data">Amount</th>
<th class="data">Token</th>
<th class="data">Address</th>
<th class="data">Spent TX</th>
</tr>

<% tx.inputs.forEach(function(input, index) { %>
<tr>
<td class="data"><b>Input[<%= index %>]</b></td>
<td class="data"><%= input.amount %></td>
<td class="data">MMX</td>
<td class="data"><a href="address?addr=<%= input.address %>"><%= input.address %></a></td>
</tr>
<% }); %>

<% tx.outputs.forEach(function(output, index) { %>
<tr>
<td class="data"><b>Output[<%= index %>]</b></td>
<td class="data"><%= output.amount %></td>
<td class="data">MMX</td>
<td class="data"><a href="address?addr=<%= output.address %>"><%= output.address %></a></td>
<% if(output.spent_txid) { %>
<td class="data"><a href="transaction?id=<%= output.spent_txid %>"><%= output.spent_txid %></a></td>
<% } %>
</tr>
<% }); %>
</table>
</p>


