
<h4>TX | <span class="font-monospace"><%= tx.id %></span></h4>

<table class="table table-nonfluid mt-3">
<tbody class="font-monospace">
<tr>
<td><b>Block</b></td>
<td>
<% if(tx.height) { %>
<a href="/block?hash=<%= tx.block %>"><%= tx.height %></a>
<% } else { %>
<i>unconfirmed</i>
<% } %>
</td>
</tr>
<tr>
<td><b>Input</b></td>
<td><%= tx.input_amount %></td>
<td>MMX</td>
</tr>
<tr>
<td><b>Output</b></td>
<td><%= tx.output_amount %></td>
<td>MMX</td>
</tr>
<tr>
<td><b>Fee</b></td>
<td><%= tx.fee_amount %></td>
<td>MMX</td>
</tr>
</tbody>
</table>

<table class="table table-nonfluid">
<thead>
<tr>
<th></th>
<th>Amount</th>
<th>Token</th>
<th>Address</th>
<th></th>
</tr>
</thead>
<tbody class="font-monospace">

<% tx.inputs.forEach(function(input, index) { %>
<% if(input.utxo) { %>
<tr>
<td><b>Input[<%= index %>]</b></td>
<td><%= input.amount %></td>
<td>
<% if(input.contract) { %>
<a href="/address?addr=<%= input.contract %>"><%= input.symbol %></a>
<% } else { %>
<%= input.symbol %>
<% } %>
</td>
<td><a href="address?addr=<%= input.address %>"><%= input.address %></a></td>
<td><a href="transaction?id=<%= input.prev.txid %>">Prev</a></td>
</tr>
<% } %>
<% }); %>

<% tx.outputs.forEach(function(output, index) { %>
<tr>
<td><b>Output[<%= index %>]</b></td>
<td><%= output.amount %></td>
<td>
<% if(output.contract) { %>
<a href="/address?addr=<%= output.contract %>"><%= output.symbol %></a>
<% } else { %>
<%= output.symbol %>
<% } %>
</td>
<td><a href="address?addr=<%= output.address %>"><%= output.address %></a></td>
<% if(output.spent) { %>
<td><a href="transaction?id=<%= output.spent.txid %>">Next</a></td>
<% } %>
</tr>
<% }); %>
</tbody>
</table>


